@model Test.Model.ViewModels.ProductView
@{
    ViewData["Title"] = "CreateUpdate";
}
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateUpdate" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Product.ProductName" class="control-label"></label>
                <input asp-for="Product.ProductName" class="form-control" />
                <span asp-validation-for="Product.ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Description" class="control-label"></label>
                <input asp-for="Product.Description" class="form-control" />
                <span asp-validation-for="Product.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Price" class="control-label"></label>
                <input asp-for="Product.Price" class="form-control" />
                <span asp-validation-for="Product.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Quentity" class="control-label"></label>
                <input asp-for="Product.Quentity" class="form-control" />
                <span asp-validation-for="Product.Quentity" class="text-danger"></span>
            </div>
            <!-- Add image upload input -->
            <div class="form-group">
                <label class="control-label">Upload Product Image</label>
                <input type="file" name="file" class="form-control" />
            </div>
            <!-- End of image upload input -->
            <div class="form-group">
                <label asp-for="Product.Description" class="control-label"></label>
                <input asp-for="Product.Description" class="form-control" />
                <span asp-validation-for="Product.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.CatagoryId" class="control-label"></label>
                <select asp-for="Product.CatagoryId" class="form-control">
                    <option value="" selected disabled> ----- Select Category ----- </option>
                    @foreach (var category in Model.Catagoris)
                    {
                        <option value="@category.Value">@category.Text</option>
                    }
                </select>
                <span asp-validation-for="Product.CatagoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.CatagoryName" class="control-label"></label>
                <input asp-for="@Model.Catagoris" class="form-control" />
                <span asp-validation-for="Product.CatagoryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
